        <script src="/js/jquery.js"></script>
        <script src="/dist/js/bootstrap.min.js"></script>
        <script src="/js/jquery.mask.min.js"></script>
        
        <script src="/js/validator/jquery.validate.min.js"></script>
        <script src="/js/validator/additional-methods.min.js"></script>
        <script src="/js/validator/messages_pt_BR.min.js"></script>
        

        <script src="/js/main.js"></script>
    </body>
</html>