<% include ../partials/header.ejs %>
<div class="container">
    <h2>Pessoas cadastradas</h2>
    <p><a class="btn btn-primary" href="/pessoas/create">Nova pessoa</a></p>
    <table class="table table-striped table-hover table-bordered">
        <tr>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
        <% pessoas.map(pessoa =>{ %>
        <tr>
            <td>
                <%= pessoa.nome %>
            </td>
            <td>
                <div class="btn-group">
                    <a type="button" class="btn btn-default" href="/pessoas/update/<%= pessoa.id %>">Editar</a>
                    <a type="button" class="btn btn-default" href="/pessoas/delete/<%= pessoa.id %>" onclick="return confirm('Deseja realmente deletar o registro?')">Excluir</a>
                </div>
            </td>
        </tr>
        <% }) %>
    </table>
</div><!-- /.container -->
<% include ../partials/footer.ejs %>