<% include ../partials/header.ejs %>
<div class="container">
    <h1>Pessoas</h1>
    <p><a href="/pessoas">Voltar a lista</a></p>
    <form method="POST" action="/pessoas/update/<%= pessoa.id%>">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" name="nome" id="nome" class="form-control" placeholder="Nome" value="<%= pessoa.nome%>">
        </div>
        <div class="form-group">
            <label for="nascimento">Nascimento</label>
            <input type="text" name="nascimento" id="nascimento" class="form-control" placeholder="Nascimento" value="<%= pessoa.nascimento%>">
        </div>
        <div class="form-group">
            <label for="cargo">Cargo</label>
            <input type="text" name="cargo" id="cargo" class="form-control" placeholder="Cargo" value="<%= pessoa.cargo%>">
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</div><!-- /.container -->
<% include ../partials/footer.ejs %>